{% extends './layouts/layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Enter Value",
        href: "/enter-value"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Message has been retrieved!</h1>

    {{ govukWarningText({
      text: "This is not a real service and is for demonstration purposes only.",
      iconFallbackText: "Warning"
    }) }}

    <p>The correlationId of this request is: {{ correlationId }}</p>
    <p>The retrieved data is:</p>
    <pre>{{ payload | dump(4) }}</pre>
  </div>
  <div>

</div>
{% endblock %}
