{% extends './layouts/layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Calculating ...</h1>

    <script language="javascript" type="text/javascript">
      window.setTimeout('location.replace("sfi-summary")', 2000);
    </script>
  </div>
  <div>

</div>
{% endblock %}
