{% extends './layouts/layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukWarningText({
      text: 'This is not a real service and is for demonstration purposes only.',
      iconFallbackText: 'Warning'
    }) }}

    {% if errorList %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errorList
    }) }}
    {% endif %}

    <h1 class="govuk-heading-l">Testing POC</h1>

    <form method="POST" action="/send-message">
      {% for standard in standards %}
        {{ govukInput({
          label: {
          text: standard.ui.text,
            classes: 'govuk-label--l',
            isPageHeading: true
          },
          hint: {
            text: standard.ui.hint
          },
          id: standard.id,
          name: standard.id,
          errorMessage: standard.errorMessage,
          suffix: { text: standard.units.symbol },
          value: standard.value
        }) }}
      {% endfor %}

      {{ govukButton({
        text: 'Send'
      }) }}
    </form>
  </div>
  <div>

</div>
{% endblock %}
