{% extends './layouts/layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="POST" autocomplete="off" novalidate>
      <div class="govuk-form-group {{ "govuk-form-group--error" if errorText }}">

        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          <div class="govuk-hint">{{ hint }}</div>

          {% if errorText %}
          {{ govukErrorMessage({
            text: errorText
          }) }}
          {% endif %}

          {% for standard in components.standards %}
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <h2 class="govuk-heading-l govuk-!-margin-top-7">{{ standard.title }}</h2>
            {{ standard.htmlBlurb | safe }}
            {{ govukCheckboxes(standard.checkbox) }}
          {% endfor %}

        {% endcall %}
      </div>

      {{ govukButton({
        text: 'Continue'
      }) }}
    </form>
  </div>
</div>
{% endblock %}
