{% extends './layouts/layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Testing POC</h1>

    {{ govukWarningText({
      text: "This is not a real service and is for demonstration purposes only.",
      iconFallbackText: "Warning"
    }) }}

    {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      href: '/sbi',
      isStartButton: true,
      text: 'Enter SBI'
    }) }}

    <p>
    {{ govukButton({
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      href: '/land-values',
      isStartButton: true,
      text: 'Ready reckoner'
    }) }}
    </p>

  </div>
  <div>
</div>
{% endblock %}
