{% extends './layouts/layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: errorList
    }) }}
    {% endif %}

    <h1 class="govuk-heading-l">What land and boundaries do you manage?</h1>

    <form method="POST" autocomplete="off" novalidate >
      {% for name, standard in standards %}
        {{ govukInput({
          label: {
            text: standard.ui.text
          },
          hint: {
            text: standard.ui.hint
          },
          id: standard.id,
          name: name,
          errorMessage: standard.errorMessage,
          suffix: { text: standard.units.symbol },
          classes: 'govuk-input--width-5',
          value: standard.value,
          spellcheck: false
        }) }}
      {% endfor %}

      {{ govukButton({
        text: 'Send'
      }) }}
    </form>
  </div>
  <div>

</div>
{% endblock %}
