{% extends './layouts/layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backPath
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
    {% endif %}



    <form method="POST" autocomplete="off" novalidate >
      {% if errorText %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %}
        <h1 class="govuk-heading-l">{{ title }}</h1>

        {% if errorText %}
        {{ govukErrorMessage({
          text: errorText
        }) }}
        {% endif %}

        {% for standard in components.inputs %}
          {{ govukInput(standard) }}
        {% endfor %}

        {{ govukDetails(components.details) }}
      </div>

      {{ govukButton({
        text: 'Continue'
      }) }}
    </form>
  </div>
</div>
{% endblock %}
