{% extends './layouts/layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Calculating ...</h1>

    <script language="javascript" type="text/javascript">
      window.setTimeout('location.replace("select-standard")', 2000);
    </script>
  </div>
  <div>

</div>
{% endblock %}
