{% extends "govuk/template.njk" %}

{% block pageTitle %}GOV.UK - Defra SFI{% endblock %}

{% block head %}
  <%= htmlWebpackPlugin.tags.headTags %>
{% endblock %}

{% block bodyEnd %}
  <%= htmlWebpackPlugin.tags.bodyTags %>
{% endblock %}
